<%- layout('layouts/main.ejs') %>

<h1 class="mt-4">Profile</h1>

<div class="card car-body">
  <h4>Name: <%= user.userName %></h4>
  <p>Email: <%= user.email %></p>
  <p>Password: <%= user.password %></p>
  <p>ID: <%= user._id %></p>
</div>